*{ 
    margin: 0px;
    padding: 0px;
}

header{
    background: linear-gradient(90deg, rgba(241,222,179,1) 0%, rgba(238,220,172,1) 23%, rgba(255,255,255,1) 66%, rgba(238,220,172,1) 94%);

    margin:10px;
    text-align: center;
    font-family: 'Merienda', cursive;
}

p{
    text-align: center;
    margin: 10px 400px;
    font-family: 'Ruda', sans-serif;
}

.fenetre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fenetre img{
    width: 30%;
    margin-top: 5px;
}

.fenetre .img1{
    width: 30%;

}

.pageS{
    display: flex;
    justify-content: end;
    
}


footer a{
    text-decoration: none;
    align-items: end;
    margin-right: 10%;
    margin-bottom: 20px;
    font-size:20px;
}

footer a img{
    width: 40px;
    margin-left: 10px;
}

